<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex fxLayoutAlign="center">
    <div>
      <h1>{{titleCatalog}}</h1>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="{{colAadaptive}}" rowHeight="200px" (window:resize)="onResize($event)">
      <mat-grid-tile *ngFor="let item of items" (click)="onSelect(item)">
        <img height="200px " src={{item.image}} alt={{item.name}}>
        <mat-grid-tile-footer>
          <h2 matLine>{{item.name | uppercase}}</h2>
          <p matLine>{{item.description}}</p>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <app-itemdetail [item]="selectedItem"></app-itemdetail>

  <mat-drawer-container class="category" autosize>
    <mat-drawer class="category-width" mode="side" opened>
      <mat-grid-tile-footer>
        <h2 fxFlex fxLayoutAlign="center" matLine>{{titleCategory}}</h2>

      </mat-grid-tile-footer>
      <div class="category-wrapper">
        <div *ngFor="let item of sortBy2" (click)="onSelect(item)">
          <button type="button" mat-button >{{item.category}} </button>
        </div>
        <tr *ngFor="let item of sortBy">
          <td>{{item[0]}}</td>
          <td>{{item[1]}}</td>
        </tr>
      </div>
    </mat-drawer>
  </mat-drawer-container>



</div>
