.example-card {
  max-width: 500px;
  margin  : 10px;
}

.example-header-image {
  background-size: cover;
}

.text-justify{
  text-align: justify;
}

.catalog-title{
color: #fff;
padding-top: 50px;
}